

<div class = "container">
    <div class = "row justify-content-center">
        <div class="col-12 col-lg-9 center-block ">
<!--Profile Section-->
            <div class="card card-left1 mb-4">
                <!--<img src="img/photo-1455448972184-de647495d428.jpg" alt="" class="card-img-top img-fluid">-->
                <div class="card-body text-center ">
                    <!--<img src="img/avatar-dhg.png" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">-->
                    <h5 class="card-title">"USER's NAME"</h5>
                    <p class="card-text justify-content-center">"USER's TEXT"</p>
                </div>
<!--Feed--></div>
            <div class="middle-column">
                <div class="card">
                    <div class="card-body">
                        {{#each Posts as |Posts|}}
                        <div class="media">
                            <!--<img src="img/avatar-dhg.png" alt="img" width="55px" height="55px" class="rounded-circle mr-3">-->
                            <div class="media-body">
                                <h5>{{Posts.title}}</h5>
                                <p class="card-text text-justify">{{Posts.content}}</p>
                                <div class="row no-gutters mb-3">
                                    <div class="col-6 p-1 text-center">
                                        <img src="img/adventure-alps-clouds-2259810.jpg" alt="" class="img-fluid mb-2">
                                    </div>
                                </div>
                                <small>{{Posts.date_created}}</small>
                            </div>
                        </div>
                        <hr>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>