<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codefolio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">


  {{!-- Emoji reactions links --}}
  <!-- bootstrap css -->
  {{!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> --}}
  {{!-- <link rel="stylesheet" type="text/css" href="/css/style.css" /> --}}
  <!-- Css for reaction system -->
  {{!-- <link rel="stylesheet" type="text/css" href="/css/reaction.css" /> --}}

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- jQuery for Reaction system -->
  <script type="text/javascript" src="/js/reaction.js"></script>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center py-2 px-4 custom-header-bg text-white fixed-top">
      <h1>
        <a href="/" class="ml-3 custom-font">&lt;Codefolio&gt;</a>
      </h1>
      <nav>
        <a href="/" class="px-2">Home</a> |
        <a href="/profile" class="px-2">Profile</a> |
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="no-button px-2 text-white" id="logout">Logout</button>
        {{else}}
        <a href="/login" class="px-2">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="custom-margin">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>