<div class="row">
  <div class="col-md-8">
    <form class="form signup-form">

      {{! signup }}
      <div class="container m-5" id="basicInfo">
        <h2>Signup!</h2>
        <div class="form-group">
          <label for="firstname-signup">first name:</label>
          <input class="form-input" type="text" id="firstname-signup" />
        </div>
        <div class="form-group">
          <label for="lastname-signup">last name:</label>
          <input class="form-input" type="text" id="lastname-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="username-signup">username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <hr />
      </div>

      {{! about }}
      <div class="container m-5" id="about">
        <h3>Tell me about yourself!</h3>
        <div class="form-group">
          <label for="occupation-signup">occupation:</label>
          <input class="form-input" type="text" id="occupation-signup" />
        </div>
        <div class="form-group">
          <label for="education-signup">education:</label>
          <input class="form-input" type="text" id="education-signup" />
        </div>
        <div class="form-group">
          <label for="experience-signup">experience:</label>
          <input class="form-input" type="text" id="experience-signup" />
        </div>
        <div class="form-group">
          <label for="portfolio_website-signup">add a link to your portfolio:</label>
          <input class="form-input" type="text" id="portfolio_website-signup" />
        </div>
        <hr />
      </div>

      {{! projects }}
      <div class="container m-5" id="projects">
        <h3>Share three projects you're proud of!</h3>

        <h5 class="mt-5">Project 1:</h5>
        <div class="form-group">
          <label for="project1-signup">title:</label>
          <input class="form-input" type="text" id="project1-signup" />
        </div>
        <div class="form-group">
          <label for="project1_link-signup">link:</label>
          <input class="form-input" type="text" id="project1_link-signup" />
        </div>

        <h5 class="mt-5">Project 2:</h5>
        <div class="form-group">
          <label for="project2-signup">title:</label>
          <input class="form-input" type="text" id="project2-signup" />
        </div>
        <div class="form-group">
          <label for="project2_link-signup">link:</label>
          <input class="form-input" type="text" id="project2_link-signup" />
        </div>

        <h5 class="mt-5">Project 3:</h5>
        <div class="form-group">
          <label for="project3-signup">title:</label>
          <input class="form-input" type="text" id="project3-signup" />
        </div>
        <div class="form-group">
          <label for="project3_link-signup">link:</label>
          <input class="form-input" type="text" id="project3_link-signup" />
        </div>
        <hr />
      </div>

      {{! sign up button }}
      <div class="container m-5">
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Signup</button>
        </div>
        <a href="/login">Login instead!</a>
      </div>

    </form>
  </div>
</div>

<script src="./js/signup.js"></script>